.nav-container {
    position: relative;
}

.ham {
    display: none; /* Hide by default */
    cursor: pointer;
}

.nav-sub {
    display: none; /* Hide navigation links by default */
    list-style-type: none;
}

@media (max-width: 768px) {
    .ham {
        display: block; /* Show hamburger menu on small screens */
    }
    .nav-sub {
        display: none; /* Keep nav links hidden */
    }
}